.dot {
    display: block;
    background-color: white;
    border-radius: 100%;
    border: 2px solid #2b3a67;
    width: 20px;
    height: 20px;
    margin: 0px 5px;

    &.filled {
        background-color: #2b3a67;
    }
}

.dots {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}
